#main-content
  #column-one
    .twitter-list-wrapper
      .twitter-list
        %h2 拼车
        .total-followers
          出售2,132,835小时
        = render :partial => 'service', :collection => @services
      .end-twitter-list
        <a rel="tag" href="/tag/celebrity">More »</a>
  
  #column-two
  .clear
  
  .main-content-bg
    %span.browse-tags
      分页
    .clear
  .main-content-bg-end
   
#sidebar
  菜单